body {
  background-image: url('fundo.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

a{
  text-decoration: none;
  color: #1E90FF;
  font-size: 14pt;
}

a:hover{
        color: #5F9EA0;
}

p, h1, h2,h4,li,a,br{
  text-align: center;
}

p{
  font-family: 'Chelsea Market', cursive;
  color:#1C1C1C;
  font-size: 15pt

}
h1{
  font-family: 'Chelsea Market', cursive;
   font-size: 20pt
}

h2{
   font-family: 'Chelsea Market', cursive;
   font-size: 18pt
}

h3{
   font-family: 'Balsamiq Sans', cursive;
   font-size: 16pt
}

h4{
   font-family: 'Balsamiq Sans', cursive;
   font-size: 16pt
}

body {
  background-image: url('fundo.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
a{
  text-decoration: none;
  color: #1E90FF;
  font-size: 14pt;
}

a:hover{
  color: #5F9EA0;
}

p, h1, h2,h4,li,a,br{
  text-align: center;
}

p{
  font-family: 'Chelsea Market', cursive;
  color:#1C1C1C;
  font-size: 15pt

}
h1{
  font-family: 'Chelsea Market', cursive;
   font-size: 20pt
}

h2{
   font-family: 'Chelsea Market', cursive;
   font-size: 18pt
}

h3{
   font-family: 'Balsamiq Sans', cursive;
   font-size: 16pt
}

h4{
   font-family: 'Balsamiq Sans', cursive;
   font-size: 16pt
}

#e1{
  font-family: 'Balsamiq Sans', cursive;
   font-size: 20pt
}

#p1{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 14pt
}

#p2{
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
  color: #87CEEB;
  font-size: 15pt
}

#q1{
    background: #87CEEB;
    position: relative;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 2rem;
    border-radius: .5rem .5rem 0 0
}

#r1{
    border: 0px solid #4682B4;
    width: auto;
    height: auto;
    overflow: scroll;
    text-decoration: none;
    text-align: justify;
    text-indent: 10px;
    letter-spacing: 0px;
    line-height: 1;
    direction: ltr;
    word-spacing: 5px;
    font-family: 'Balsamiq Sans', cursive;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    font-variant: normal;

  }

  #e1{
    font-family: 'Balsamiq Sans', cursive;
     font-size: 20pt
  }

  #p1{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 14pt
  }

  #p2{
      font-family: 'Balsamiq Sans', cursive;
      text-align: center;
      color: #87CEEB;
      font-size: 15pt
  }

  #q1{
      background: #87CEEB;
      position: relative;
      padding: 0 1rem;
      margin-top: 1rem;
      margin-left: 1rem;
      height: 2rem;
      border-radius: .5rem .5rem 0 0

  }

.rodape{
      text-decoration: none;
      text-align: justify;
      text-indent: 10px;
      letter-spacing: 0px;
      line-height: 1;
      direction: ltr;
      word-spacing: 5px;
      font-family: 'Balsamiq Sans', cursive;
      font-style: normal;
      font-weight: lighter;
      font-size: 20px;
      font-variant: normal;
    }

#f1{
    float: right;
 }
 
