<h1>Cadastro de funcionarios </h1>
<form class="form" action="/funcionarios/insertfuncionario" method="POST">

<div class="form-control">
    <label for="nome">Nome do funcionario:</label>
    <input type="text" name="nome" placeholder="Nome do funcionario">
</div>

<div class="form-control">
    <label for="sobrenome">Sobrenome do funcionario:</label>
    <input type="text" name="sobrenome" placeholder="Sobrenome do funcionario">
</div>

<div class="form-control">
    <label for="cidade">Cidade do funcionario:</label>
    <input type="text" name="cidade" placeholder="Cidade do funcionario">
</div>

<div class="form-control">
    <label for="escolariade">Escolaridade do funcionario:</label>
    <input type="text" name="escolariade" placeholder="Escolariade do funcionario">
</div>

<div class="form-control">
    <label for="setor">Setor do funcionario:</label>
    <input type="text" name="setor" placeholder="Setor do funcionario">
</div>

<div class="form-control">
    <label for="anonasc">Ano de nascimento do funcionario:</label>
    <input type="number" name="anonasc" placeholder="Ano de nascimento do funcionario">
</div>

<input type="submit" value="Cadastrar">
</form>